name: Docker Build & Push

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Install Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/vitaflow:latest
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/vitaflow:latest
          cache-to: type=inline

      - name: Run Docker Compose
        run: docker compose up -d
