name: Spring Boot

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Install Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t leonardorscarpitta/vitaflow:latest .

      - name: Run Docker Compose
        run: docker-compose up -d
